@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.menu {
    & img {
        height: 100px;
    }
    .menu-bar {
        max-width: 100%;
        padding: 0 100px;
        & ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            & li {
                & a {
                    font-size: 1.25rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: #151515;
                    transition: 1s;
                    &:hover {
                        color: #34495E;
                    }
                }
            }
        }
    }
}

.logo-img {
    height: 125px;
    background-color: #795548;
    display: flex;
    justify-content: center;
    & img {
        height: 125px;
        width: auto;
    }
}

.title {
    background-color: #4CAF50;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    & h1 {
        margin: 0px;
        text-shadow: 4px 7px 4px #00000080;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
}

.inf-project {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom:solid 2px #d9d9d9;
    & h2 {
        font-size: 1.5rem;
        padding: 26px 0;
        margin: 0px;
        color: #795548;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    & p {
        font-size: 1.125rem;
        color: #151515;
        font-family: 'Open Sans', sans-serif;
        & span {
            color: transparent;
            cursor: default;
            user-select: none;
        }
    }
    & ul {
        & li {
            font-size: 1.125rem;
            color: #151515;
            font-family: 'Open Sans', sans-serif;
        }
        & span {
            color: transparent;
            cursor: default;
            user-select: none;
        }
    }
    & img {
        height: 264px;
        width: auto;
    }
}

footer {
    background-color: #795548;
    .f-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        & img {
            height: 140px;
        }
        & p {
            font-size: 1.25rem;
            font-family: 'Open Sans', sans-serif;
            color: white;
        }
    }
    .f-2 {
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h4 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            color: #4CAF50;
        }
        & ul {
            color: #ffffff;
            & li {
                padding: 20px 0 0 0;
                & a {
                    font-size: 1.125rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: #ffffff;
                }
            }
        }  
    }
    .f-3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 430px;
        & p {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            font-family: 'Montserrat', sans-serif;
            color: white;

            & i {
                margin: 0 0 0 5px;
                font-size: 2.5rem;
                color: black;
            }
        }
        & img {
            padding-top: 40px;
            width: 50px;
            height: auto;
        }
    }
    .f-4 {
        text-align: center;
        font-size: 1.125rem;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .f-3 {
        display: flex;
        align-items: center;
    }
}